/haskell/dist-newstyle
/rust/target
/cpp/collatzmark
/java/.gradle
/java/app/build
/ocaml/**/*.annot
/ocaml/**/*.cmo
/ocaml/**/*.cma
/ocaml/**/*.cmi
/ocaml/**/*.a
/ocaml/**/*.o
/ocaml/**/*.cmx
/ocaml/**/*.cmxs
/ocaml/**/*.cmxa
/ocaml/_build/
/ocaml/*.byte
/ocaml/*.native
/ocaml/setup.data
/ocaml/setup.log
/ocaml/.merlin
/ocaml/*.install
/ocaml/_opam/
/python/.venv
/python/bin
/python/include
/python/lib
/python/lib64
/python/pyvenv.cfg
/python/dist
/python/*.egg-info